@charset "UTF-8";
/*
    DEVICE BREAKPOINTS:
    TABLET: 768px;
    LAPTOP: 992px;
    TV: 1200px;
*/

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 991px) {

    body {
        background-image: linear-gradient(to bottom, #71dfb9c5, #20FA70);
    }

    section#login {
        display: flex;
        width: 85vw;
        height: 300px;
    }

    section#login p {
        margin: 10px 0px;
    }

    section#login > div#img {
        order: 1;
        width: 45%;
        height: 100%;
    }

    section#login > div#form {
        order: 0;
        width: 55%;
    }

    form > input[type=submit], form > a.botao {
        width: 90%;
        margin: 5px auto;
    }
}   

/*TELAS ACIMA DE 992PX*/
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #71dfb9c5, #20FA70);
    }

    section#login {
        display: flex;
        width: 900px;
        height: 350px;
    }

    section#login p {
        margin: 10px 0px;
    }

    section#login > div#img {
        order: 1;
        width: 50%;
        height: 100%;
    }

    section#login > div#form {
        order: 0;
        width: 50%;
        height: 100%;
    }
}