@charset "UTF-8";

/*
PALETA DE CORES:
    #71dfb9c5
    #20FA70
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #71dfb9c5;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 270px;
    height: 480px;
    border-radius: 9px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.337);
}

section#login > div#img {
    display: block;
    height: 200px;
    background: #71dfb9c5 url('../imagem/porta.jpg') center center no-repeat;
    background-size: cover;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
}

div.campo {
    margin: 10px 0px;
}

div.campo > input:focus {
    background-color: lightgray;
}

form > input[type=submit] {
    display: block;
    background-color: #20FA70;
    color: rgb(23, 23, 23);
    width: 100%;
    height: 30px;
    font-size: 1em;
    text-align: center;
    border: .5px solid black;
}

form > input[type=submit]:hover {
    background-color: #71dfb9c5;
    cursor: pointer;
}

form > a.botao {
    display: block;
    background-color: whitesmoke;
    color: rgb(23, 23, 23);
    width: 100%;
    height: 25px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border: .5px solid black;
    margin-top: 8px;
}

form > a.botao:hover {
    background-color: #71dfb9c5;
    text-decoration: underline;
}
